@page "/fetchdata"
@using EFBlazorBasics.Data
@inject IHelperService service


<h1>Helpers App: Basic</h1>

<p>This demonstrates that the databse exists.</p>

@if (activitys == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">

        <tbody>
                <tr>
                    <td><font color="red">Activitys has been created, but is empty.</font></td>
                </tr>
                <tr>
                    <td><font color="blue">List length= @activitys.Count() </font></td>
                </tr>
                <tr>
                    <td><font color="purple">Next: See the **Add-Some-Data** branch of the repository.</font></td>
                </tr>
                <tr>
                    <td><font color="purple">Link: <a href="https://github.com/djaus2/EFBlazorBasics/tree/Add-Some-Data">Add-Some-Data branch of djaus2/EFBlazorBasics on GitHub </a></font></td>
                </tr>
        </tbody>
    </table>
    
}

@code {
    private List<Activity> activitys { get; set; }
    private int count { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        activitys = await service.GetActivitys();
        count = activitys.Count();
    }
}
