@page "/"
@using EFBlazorBasics.Data
@inject IHelperService service

<h1>Helpers App</h1>

<p><font color="darkred"><b>NOTE: If using this as deployed on Azure, the app and database assume a single user at a time.</b></font></p>

<p>Get Sample Data page just gets some data generated upon request, not using databasebr <br/>
Setup Db page will generate and refresh the data in the Databse</p>
<hr />

See Entity Framework Core functionality on Add Data pages.<br/>
Demonstrates CRUD operations in the Helpers App context.<br/> 
<h2>Add</h2>
<b>In this version of the app can add new Activties with a new Helper, Round No and Task.</b><br/>
<ul>
    <li>For Add Data the new activity is in-memory only.<br/>Change to Add Data 2 and its not there.</li>
    <li>For Add Data DbSave it is added to the database along with the new Round and Helper.<br/>Change to Add Data 1 and it's still there.</li>
</ul>
<h2>Delete</h2>
<b>Includes Cascade delete</b> and other features.<br/> 
<ul>
    <li>Note that deletion of a Round deletes any activity in that round ... <b>Cascade Delete</b></li>
    <li>Whereas deletion of a Helper does not delete an activity that that Helper has volunteered for.<br/> It nulls that entry in the activity. </li>
</ul>

<h2>Updates</h2>
<ul>
    <li>Can action various styles of updates:
    <ul>
        <li>Send a changed property (value or entity) and entity Id, </li>
        <li>Update and submit the changed entity.</li>
        <li>Change the entity properties in client and submit but copy the properties to the entity instance in the service.</li>
    </ul>
    </li>
</ul>
<h2>Database context Updates</h2>
<ul>
<li> Can toggle whether with db changes, context save changes and state has changed are applied</li>
<li> Can experiment with whether they are required. See Stup Db page.link</li>
</ul>

@code{
    bool contextSaveChangesAsync { get; set; }
    bool markContextEntityStateAsChanged { get; set; }
    string msg = "";

    void ToggleSaveChanges()
    {
        bool res = service.GetContextSaveChangesAsync();
        service.SetContextSaveChangesAsync(!res);
        contextSaveChangesAsync = service.GetContextSaveChangesAsync();
    }
    
    void ToggleMark()
    {
        bool res = service.GetMarkContextEntityStateAsChanged();
        service.SetMarkContextEntityStateAsChanged(!res);
        markContextEntityStateAsChanged = service.GetMarkContextEntityStateAsChanged();
    }

    protected override void OnInitialized()
    {
        contextSaveChangesAsync = service.GetContextSaveChangesAsync();
        markContextEntityStateAsChanged = service.GetMarkContextEntityStateAsChanged();
    }

    private async Task PopulateDB()
    {
        msg = " Busy ...";
        await service.AddSomeData();
        markContextEntityStateAsChanged = service.GetMarkContextEntityStateAsChanged();
        contextSaveChangesAsync = service.GetContextSaveChangesAsync();
        msg = " Done. Now go to next two pages to see the data.";
    }
}

