@page "/"

<h1>Helpers App: Basic</h1>
<p>This is the **Basic** branch of the EFBlazorBasic repository at <a href="https://github.com/djaus2/EFBlazorBasics">djaus2/EFBlazorBasics on GitHub</a></p>

<p>This version of the app is about generating the new database in SQL Server.<br />
Code-First with Entity Framework Core is used</p>
<p>To create the database in Package Management Console run:  <b>update-database</b<br />
The AddEntities Migration will be used.</p>

<p>Go to FetchData.</p>
